<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
</head>
<body>

<h2>Crear Cuenta</h2>

<div th:if="${error}" style="color:red">
    <p th:text="${error}"></p>
</div>

<form th:action="@{/usuario/registro}" th:object="${usuario}" method="post">
    <label>Nombre:</label>
    <input type="text" th:field="*{nombre}" required/><br/>
    <small th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" style="color:red"></small><br/>

    <label>Correo:</label>
    <input type="email" th:field="*{correo}" required/><br/>
    <small th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}" style="color:red"></small><br/>

    <label>Contrasena:</label>
    <input type="password" th:field="*{password}" required/><br/>
    <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:red"></small><br/>

    <button type="submit">Registrarse</button>
</form>

<p>¿Ya tienes cuenta? <a href="/usuario/login">Inicia sesion aqui</a></p>

</body>
</html>
