<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
</head>
<body>

<h2>Crear Cuenta</h2>

<div th:if="${error}" style="color:red">
    <p th:text="${error}"></p>
</div>

<form action="/usuario/registro" method="post">
    <label>Nombre:</label>
    <input type="text" name="nombre" required/><br/>

    <label>Correo:</label>
    <input type="email" name="correo" required/><br/>

    <label>Contrasena:</label>
    <input type="password" name="password" required/><br/>

    <button type="submit">Registrarse</button>
</form>

<p>¿Ya tienes cuenta? <a href="/usuario/login">Inicia sesion aqui</a></p>

</body>
</html>